#navbarblackbackground {
    background-color: black;
}

#tvshowsblackbackground {
    background-color: black;
}

#cardbackgroundcolor {
    background-color: black;
}

#bodybackgroundcolor {
    background-color: black;
}
